body { font-family:Verdana; font-size:12px; margin:0 auto; background-color:#ececec;}
#container {margin: 0 auto; min-height:100%;height:auto !important;height:100%; position:relative; }
header {
    height:317px;
}
.banner {
    height:285px;
    width:100%;
    margin-top:auto;
}
.banner-background {
    background-image:url("images/header-bg.png");
    height:285px;
    width:100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    z-index:-1;
}
.mask {
    background-image: url(images/mask.png);
    background-color: black;
    z-index: 0;
    opacity: 0.4;
    width: 100%;
    background-size: cover;
    float: left;
    height: 285px;
    position: absolute;
}

.logo {
    background-image:url(images/logo.png);
    position:relative;
    text-align:center;
    width:377px;
    height:238px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
}

.sign {
    position:relative;
    margin:auto,0px,0px,auto;
    width:100%;
    height:30px;
    background-color:#86B3B0;
    padding:2px;
}


.menu {
    width: 370px;
    height: 32px;
    margin-top: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.signin {
    background-color:#0e86cb;
    width:106px;
    height:30px;
    float:right;
    margin-left:24px;

}

.signup {
    background-color:#14afa7;
    width:106px;
    height:30px;
    float:right;
    margin-left:24px;
    margin-right:24px;
}

.userName {
    width:200px;
    height:24px;
    float:right;

}
.userPw {
    width:200px;
    height:24px;
    float:right;
    margin-left:24px;

}



.listProperty {
    background-color:#1472dc;
    width:106px;
    height:32px;
    float:left;
    margin-right:27px;
}
.Selling {
    background-color:#ecab1c;
    width:106px;
    height:32px;
    float:left;
}
.ContactUs {
     background-color:#247e0a;
    width:106px;
    height:32px;
    float:right;
}
.line {
    height: 2px;
    background-color: black;
    opacity: 0.4;
    width: 100%;
    margin-top: 283px;
    position: absolute;
}

footer {
    margin-top: 700px;
    margin-bottom:0px;
    position:relative;
    height:50px;
    width:100%;
    text-align:center;
    line-height:50px;
    background-color:#2980b9;
    color:white;
    clear: both;
    font-size: .8em;

}

#searchbox {
    margin-top:20px;
    height:100px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}