body { font-family:Verdana; font-size:12px; margin:0 auto; background-color:#ececec;}
#container {margin: 0 auto; min-height:100%;height:auto !important;height:100%; position:relative; }

.banner-background {

background-image:url(header-bg.png);
height:285px;
width:100%;
position: absolute;
background-repeat: no-repeat;
background-size:cover;
background-position:center;
}
.mask {
background-color:black;
opacity:0.3;
width:100%;
position: absolute;
background-size:cover;
margin-top:0px;

}

.logo {
    position:relative;
    text-align:center;
    width:212px;
    height:89px;
    margin-left: auto;
margin-right: auto;
    top: 0px;
    left: -83px;
}

.sign {
    position:relative;
    margin:auto,0px,0px,auto;
    width:100%;
    height:30px;
    background-color:#86B3B0;
    padding:2px;
}
.inputsign {
    position:relative;
    margin-top:5px;
    float:right;
    padding:2px;
}
.line {
    height:2px;
    background-color:black;
    opacity:0.4;
    position:relative;
    width:100%;
    margin-top:195px;

}

footer {
    margin-top: 700px;
    margin-bottom:0px;
    position:relative;
    height:50px;
    width:100%;
    text-align:center;
    line-height:50px;
    background-color:#2980b9;
    color:white;
    clear:both;
}

#searchbox {
    margin-top:20px;
    height:100px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
